<<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <title>Document</title>

        <style>
            h1 {
                color:blue;
            }
        </style>
    </head>
    <body>
        <h1>Do you sign in API class of send E-mails {{to}}?</h1>
        <p>Someone did the login. If was not you, please reset your password</p>
    </body>
</html>