<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Confirmation of Newsletter Subscription</title>
    <style>
        h1 {
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Welcome to our Newsletter, {{name}}!</h1>
    <p>Thank you for subscribing to our newsletter. You are now part of our community.</p>
    <p>We will keep you updated with the latest news and information. If you have any questions or feedback, feel free to contact us.</p>
</body>
</html>